/*a:link,
a:visited,
a:hover {
    color: #F25C05;
}

.footer {
  height:24px !important; // Replace with the height your footer should be
  width: 100% !important; // Don't change
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.level {
    opacity: 1;
    height: 32px;
    width: 32px;
    background: #F25C05;
    border-radius: 50%;
    display: inline-block;
    color: #ffffff;
    padding-top: 8px;
    font-size: 12px;
    text-align: center;
    padding-left: 0 !important;
    margin: 6px 0 10px 0;
}

.search-bar {
    width: 500px;
    position: relative;
}

.search-bar button {
    position: absolute;
    right: 8px;
    top: -20px;
}

input[type="search"]:focus {
    border-color: #CFD7E6;
    box-shadow: 0 0 4px #F25C05 !important;
}

.slider {
    width: 100%;
    max-width: 500px;
    height: 40px;
    margin: 4px 0;
}

.handle {
    font-size: 0.9em;
    text-align: center;
    background-color: #F25C05;
    color: white;
    cursor: pointer;
}

.handle.active {
    background-color: #F25C05;
}

.bar {
    position: relative;
    background: #EEF1F6;
    border-radius: 4px;
}

.bar.bar-1 {
    background: #F25C05;
}

.bar.bar-2 {
    background: #EEF1F6;
}

.slider .bar {
    top: 20px;
    height: 10px;
}

.slider .handle {
    top: 7px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    color:#FFF;
}

.slds-card {
    background-color: #FFFFFF;
}

.slds-pill {
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px 2px 0 !important;
}

.slds-page-header {
    background-color: #F2C335;
    border: none;
    color: #ffffff;
}

.slds-page-header__title {
    font-size: 32px;
    margin-top: -4px;
    font-family: 'Yanone Kaffeesatz', 'Open Sans', sans-serif;
}

.slds-card__header {
    padding: 8px;
    padding-top: 16px !important;
    margin-bottom: 4px !important;

}

.slds-card {
    height: 186px;
}

.slds-button, .slds-button:focus, .slds-button:hover {
    color: #F25C05;
}

.slds-button:active, .slds-button:focus {
    box-shadow: 0 0 4px #F25C05 !important;
}

.search-bar .slds-button:active, .search-bar .slds-button:focus {
    box-shadow: none !important;

}

.slds-card__body {
    padding-top: 4px;
}

.slds-card img {
    margin: 4px;
}*/



/*** GLOBAL COLOR ****************************************/

:root {
  --main-orange: #e66400;
  --main-orange-dark: #cd5900;
  --main-light: #ffffff;
  --main-grey: #e66400;
  --main-light-grey: #e66400;
  --main-dark-grey: #222222;
  --main-blue: #286099;
  --main-blue-dark: #1f4d7a;
}

/*** COLOR CLASSES ****************************************/

.white {
    color: var(--main-light);
}

.input.is-orange:active, .input.is-orange:focus {
  border-color: var(--main-orange);
  outline: none;
}

.button.is-orange {
  background-color: var(--main-orange);
  border-color: transparent;
  color: white;
  text-decoration: none;
}

.button.is-orange:active {
  background-color: var(--main-orange-dark);
  border-color: transparent;
  color: white;
}

.button.is-blue {
  background-color: var(--main-blue);
  border-color: transparent;
  color: white;
  text-decoration: none;
}

.button.is-blue:active {
  background: var(--main-blue-dark);
  border-color: transparent;
  color: white;
}

/*** PAGE LAYOUT ****************************************/

/*html {
  background: url(../assets/images/bwmap.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*
#navBar a img {
    height: 150px;
}*/

/*** NAV ****************************************/

#navBar {
    background: linear-gradient(to bottom, var(--main-dark-grey), rgba(0,0,0,0));
    width: 100%;
    height: 150px;
}

#navItems {
    margin: 20px;
}

/*** LOGIN PAGE ****************************************/

#linked-button, #linked-button:hover {
    border-radius: 0;
    border: none;
    padding: 10px;
    font-weight: bold;
}

#linked-button span.icon {
    /* figure out transparent margin separating icon from span
    border-right: 1px solid var(--main-light);*/
}

/*** SKILLSFORM ****************************************/

#skillsForm {
    width: 100%;
}

#skillsPanel {
    margin: 10px;
    margin-top: 100px;
}

#skillsForm p input {
    background: var(--main-dark-grey);
    color: var(--main-light);
}

.starIcon:active {
    color: var(--main-orange);
}

#skillsPanel p.panel-heading {
    background: var(--main-dark-grey);
    color: var(--main-light);
}

.panel {
  border: 1px solid #444;
  border-radius: 5px;
}

.panel-heading {
  border-bottom: 1px solid #555;
}

.panel-block {
  background: #333;
  color: var(--main-light);
}

.panel-block:not(:last-child) {
  border-bottom: 1px solid #555;
}

/*** FOOTER ****************************************/

.footer {
  background: var(--main-dark-grey);
  height: 75px;
}

.footer-icon {
  color: var(--main-light);;
}
